.friendMoreInfo {
  padding: var(--space-2) var(--space-3) var(--space-3) !important;

  .friendInfoInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
    text-align: center;
  }

  .friendInfoTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .friendDelBtn {
    align-self: end;
  }

  h4 {
    font-weight: bold;
    font-size: var(--small-font-size);
  }
  .friendBadgeBox {
    width: 100%;
    text-align: center;
    padding: var(--space-1) 0;

    h4 {
      color: var(--play-color-1);
      margin-bottom: var(--space-1);
      position: relative;
      padding: 0 var(--space-2);
      display: inline-block;

      &::after,
      &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        background: var(--play-color-1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &::after {
        left: -5px;
      }
      &::before {
        right: -5px;
      }
    }

    .empty {
      text-align: center;
      padding: var(--space-2) 0 var(--space-3);
      font-size: var(--small-font-size);
    }

    .badgeList {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-1);

      li {
        img {
          width: 100%;
          height: auto;
          vertical-align: middle;
        }
      }
    }
  }

  .friendPerform {
    width: 100%;
    text-align: center;
  }
}

.buttonBox {
  width: 100%;
  display: flex;
  gap: var(--space-1);
}
