.installAppBox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color-1);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px 20px 0 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;

  .textBox {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3);
    text-align: left;

    p {
      b {
        color: var(--play-color-0);
        font-weight: bold;
      }
    }
  }

  img {
    border-radius: var(--space-1);
    overflow: hidden;
  }

  .installAppBoxInner {
    position: relative;
    padding: var(--space-3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-font-size);
    text-align: center;

    .installBtn {
      background-color: var(--play-color-0) !important;
    }
  }
  .dayClose {
    position: absolute;
    background-color: var(--black-color-1);
    color: var(--white-color-1);
    padding: 7px 13px;
    border-radius: var(--space-2) var(--space-2) 0 0;
    top: -28px;
    right: 6%;
    font-size: 12px;
  }

  p {
    &.ios {
      line-height: 1.6;
    }
    span {
      font-weight: bold;
    }
    svg {
      vertical-align: text-bottom;
    }
  }
}
