.boardVote {
  padding: var(--space-3);

  & + div {
    border-top: none;
  }

  .voteTotal {
    b {
      font-weight: bold;
    }
  }

  h3 {
    font-weight: bold;
    font-size: var(--middle-font-size);
    margin-bottom: 8px;

    svg {
      vertical-align: bottom;
      margin-right: var(--space-1);
    }
  }

  border-top: 1px solid var(--gray-color-6);
  border-bottom: 1px solid var(--gray-color-6);
}

.boardVoteList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: var(--space-3);

  li {
    display: flex;
    align-items: center;

    &.active {
      .voteBox {
        border: 1px solid var(--play-color-1);
      }
      .percentBox {
        background-color: var(--play-color-3);
      }
    }

    input {
      margin-right: 10px;
    }

    .voteBox {
      width: 100%;
      height: 40px;
      border: 1px solid var(--gray-color-2);
      padding: 2px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      position: relative;
    }

    .percentBox {
      background-color: var(--gray-color-6);
      height: 100%;
      border-radius: 3px;
    }

    .percent {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .voteTitle {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
