.boardWriteWrap {
  // padding: var(--space-5) var(--space-3);

  .line {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: var(--space-2);
    align-items: center;
    margin-bottom: var(--space-4);
    h5 {
      font-weight: bold;
      font-size: var(--small-font-size);
    }
  }

  .writeTitle {
    width: 100%;
    height: 40px;
    padding: var(--space-3);
    border: 1px solid var(--gray-color-2);
    border-radius: 5px;
    margin-bottom: var(--space-2);
  }

  .voteCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-1);
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--black-color-1);
    margin: var(--space-4) 0;

    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    #vote {
      width: 18px;
      height: 18px;
      filter: grayscale(100%);
    }
  }

  .voteBox {
    .voteLoadBtn {
      margin-bottom: var(--space-3);
    }

    .voteItem {
      overflow: hidden;
    }

    .voteDate {
      display: grid;
      margin: var(--space-3) 0 var(--space-7);
      justify-content: space-between;
      align-items: center;
      span {
        grid-column: 1 / span 2;
      }
      #voteEndDate {
        border-radius: var(--space-1);
        margin-top: var(--space-2);
        button {
          font-size: var(--small-font-size);
        }
      }
    }

    .voteBtn {
      display: flex;
      gap: var(--space-1);
      justify-content: flex-end;
      margin: var(--space-1) 0 var(--space-3);
      opacity: 0.8;

      & > button {
        font-weight: 500;
      }
    }

    .voteDuplicate {
      display: flex;
      align-items: center;
      font-size: calc(var(--small-font-size) - 1px);
      gap: 5px;
      justify-content: flex-end;

      input {
        width: 18px;
        height: 18px;
        filter: grayscale(100%);
      }
    }

    .voteTitle {
      margin: 0 0 var(--space-3);
    }

    input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid var(--gray-color-2);
      padding: var(--space-3);
      margin-top: var(--space-1);
    }
  }

  .tagTitle {
    font-size: var(--small-font-size);
    font-weight: 500;
  }
}

.boardVote {
  padding: var(--space-6) 0 var(--space-3);

  h3 {
    font-weight: bold;
    font-size: var(--middle-font-size);
    margin-bottom: 8px;

    svg {
      vertical-align: bottom;
      margin-right: var(--space-1);
    }
  }
}

.boardVoteList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: var(--space-3);

  li {
    display: flex;
    align-items: center;

    &.active {
      .voteBox {
        border: 1px solid var(--play-color-1);
      }
      .percentBox {
        background-color: var(--play-color-3);
      }
    }

    .voteBox {
      width: 100%;
      height: 40px;
      border: 1px solid var(--gray-color-2);
      padding: 2px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      position: relative;
    }

    .percentBox {
      background-color: var(--gray-color-6);
      height: 100%;
      border-radius: 3px;
    }

    .percent {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .voteTitle {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.notEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1) var(--space-3) var(--space-5);
  margin-bottom: var(--space-3);

  p {
    line-height: 1.2;
    b {
      color: var(--red-color-1);
      font-weight: bold;
      display: block;
      margin-bottom: var(--space-1);
    }
    span {
      font-weight: bold;
    }
  }

  button {
    font-weight: 400;
  }
}

.line {
  margin-bottom: var(--space-6);

  img {
    width: 300px;
    height: auto;
    margin-bottom: var(--space-5);
  }

  .innerBox {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  label {
    display: inline-flex;
    align-items: center;
    gap: var(--space-0);
    font-size: var(--small-font-size);
    margin-right: var(--space-5);
  }
}

.buttonWrap {
  display: flex;
  gap: var(--space-2);
  margin-top: var(--space-2);
}

.faqCategory {
  font-size: var(--small-font-size);
}

.brandCheck {
  span {
    color: var(--play-color-1);
    font-size: var(--xsmall-font-size);
  }
}
