.infoModalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  text-align: center;

  h5 {
    font-size: var(--large-font-size);
    font-weight: bold;
    line-height: 1.2;
    word-break: keep-all;
    b {
      color: var(--play-color-1);
    }
  }

  p {
    font-size: var(--small-font-size);
    color: var(--gray-color-1);
    word-break: keep-all;
  }
}
.infoIcon {
  background-image: url("/images/bgicon.png");
  background-size: 400px auto;
  width: 45px;
  height: 45px;
  background-position: -681px -335px;
  margin: 10px 0;
}
