.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--middle-font-size);
  line-height: 1.2;

  #modalBox {
    position: relative;
    width: 500px;
    min-height: 200px;
    background-color: var(--white-color-1);
    border-radius: 15px;
    padding: var(--space-4);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--middle-font-size);
  line-height: 1.2;
  text-align: center;

  .infoCircleIcon {
    margin-bottom: var(--space-1);
  }

  h5 {
    font-weight: bold;
    font-size: var(--large-font-size);
  }

  #modalBox {
    position: relative;
    width: 310px;
    min-height: 200px;
    background-color: var(--white-color-1);
    border-radius: 15px;
    padding: var(--space-4);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#modalWrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  &.bottom {
    #modalBox {
      width: 100%;
      position: absolute;
      bottom: -120%;
      left: 0;
      border-radius: 15px 15px 0 0;
      background-color: var(--white-color-1);
      padding: var(--space-6) var(--space-5);
      animation: slideUp 0.5s ease-in-out forwards;
      box-shadow: 0 -16px 30px 10px rgba(0, 0, 0, 0.2);

      .modalClose {
        position: absolute;
        right: 27px;
        top: 30px;
        font-size: var(--small-font-size);
      }
    }
  }

  #modalBackBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
  }
}

#modalBox {
  // gap: var(--space-4);
  h3 {
    font-size: var(--large-font-size);
    font-weight: bold;
    word-break: keep-all;

    & + p {
      margin-top: var(--space-4);
    }
  }

  h5 {
    & + p {
      margin-bottom: var(--space-2);
    }
  }

  p {
    font-size: var(--small-font-size);

    b {
      font-weight: bold;
      span {
        color: var(--play-color-1);
      }
    }

    &[class="color"] {
      font-size: var(--xsmall-font-size);
      color: var(--play-color-1);
    }
  }

  div[class="buttonWrap"] {
    display: flex;
    width: 100%;
    gap: var(--space-2);
    margin-top: var(--space-4);
  }
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
